# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local

# Docs
docs/.env

# Firebase
functions/node_modules
functions/**/*.local
.firebase
functions/.runtimeconfig.json
*.firebase-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log